{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% set title %}ARTICLES | {{ SITENAME }}{% endset %}
{% set description %}ARCHIVES | {{ SITENAME }}{% endset %}
{% set url %}{{ SITEURL }}/{{ ARCHIVES_URL }}{% endset %}
{% set image %}{{ macros.header_bg_url() }}{% endset %}

{% block title %}{{ title }}{% endblock title %}

{% block meta %}
  {{ super() }}
  <meta name="description" content="{{ description }}">
  {{ macros.og_metas(title=title, description=description, type='website', url=url, image=image) }}
  <link rel="canonical" href="{{ url }}">
  {% include 'includes/pagination_meta.html' %}
{% endblock %}

{% block content %}
  {{ macros.json_ld_article_bread_crumb() }}
  {{ macros.json_ld_carousels(articles_page.object_list ) }}
  <main>
    <header class="l-header header header__bg-home">
      <div class="header__container">
        <h1 class="header__title"><a class="link-no-decoration" href="{{ url }}">{{ SITENAME }}<br>ARTICLES</a></h1>
      </div>
    </header>
    <div class="body">
      {% for article in articles_page.object_list %}
        {{ macros.article_item(article) }}
      {% endfor %}
      {% if articles_page.has_other_pages() %}
        {% include 'includes/pagination.html' %}
      {% endif %}
    </div>
  </main>
{% endblock content %}
