{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block meta %}
  {{ super() }}
  <meta name="description" content="{{ SITEDESCRIPTION }}">
  <link rel="canonical" href="{{ SITEURL }}/">
{% endblock %}

{% block content %}
  <main>
    <header class="l-header header header__bg-home">
      <div class="header__container">
        <h1 class="header__title"><a class="link-no-decoration" href="/">{{ SITENAME }}</a></h1>
      </div>
    </header>
    <div class="body">
      {% for article in articles_page.object_list %}
        {{ macros.article_item(article) }}
      {% endfor %}
      <p class="margin-v text-center"><a class="button" href="/{{ ARCHIVES_URL }}">READ MORE</a></p>
    </div>
  </main>
{% endblock content %}
