{% macro header_bg_class(article) %}
  {% set num = article.date.day % 7 %}
  header__bg-{{ num }}
{% endmacro %}

{% macro header_bg_url(article=None) %}
  {% if article %}
    {% set num = article.date.day % 7 %}
    {{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ num }}.jpg
  {% else %}
    {{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home.jpg
  {% endif %}
{% endmacro %}

{% macro article_item(article) %}
  <section class="article-item">
    <h2 class="article-item__title"><a class="link-no-decoration" href="/{{ article.url }}" title="Permalink to {{ article.title|striptags|title }}">{{ article.title|striptags|title }}</a> </h2>
    <p class="article-item__summary">{{ article.summary|striptags|truncate(SUMMARY_MAX_LENGTH) }}</p>
    <footer class="article-item__publish-date text-elegant">
      <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
    </footer>
  </section>
{% endmacro %}

{% macro og_metas(title, description, type, url, image, tags=None, publishd=None, authors=None) %}
  {# BASIC #}
  <meta property="og:title" content="{{ title|trim }}">
  <meta property="og:type" content="{{ type|trim }}">
  <meta property="og:image" content="{{ image|trim }}">
  <meta property="og:url" content="{{ url|trim }}">

  {# OPTIONAL #}
  <meta property="og:description" content="{{ description|trim }}">
  <meta property="og:locale" content="{{ DEFAULT_LANG|trim }}">
  <meta property="og:site_name" content="{{ SITENAME|trim }}">

  {# og:type:article #}
  {% if publishd %}
    <meta property="article:published_time" content="{{ publishd|trim }}">
  {% endif %}
  {% if authors %}
    {% for author in authors %}
      <meta property="profile:username" content="{{ author|trim }}">
    {% endfor %}
  {% endif %}
  {% if tags %}
    {% for tag in tags %}
      <meta property="article:tag" content="{{ tag.name|trim }}">
    {% endfor %}
  {% endif %}

  {# twitter #}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@{{ TWITTER_ACCOUNT|trim }}">
  <meta name="twitter:title" content="{{ title|trim }}">
  <meta name="twitter:description" content="{{ description|trim }}">
  <meta name="twitter:image" content="{{ image|trim }}">
{% endmacro %}

{% macro json_ld_site_name() %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ SITENAME }}",
      "url": "{{ SITEURL }}/"
    }
  </script>
{% endmacro %}

{% macro json_ld_home_bread_crumb() %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ SITEURL }}/",
          "name": "HOME",
          "image": "{{ header_bg_url()|trim }}"
        }
      }
    ]
  }
  </script>
{% endmacro %}

{% macro json_ld_article(article) %}
<script type="application/ld+json">
  {# some fields are ignored in non-amp #}
  {# https://developers.google.com/search/docs/data-types/articles #}
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ SITEURL }}/{{ article.url }}"
    },
    "headline": "{{ article.title|striptags|title|truncate(110) }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ header_bg_url(article)|trim }}",
      "height": 900,
      "width": 1600
    },
    "datePublished": "{{ article.date.isoformat() }}",
    {% if article.modified %}
    "dateModified": "{{ article.modified.isoformat() }}",
    {% else %}
    "dateModified": "{{ article.date.isoformat() }}",
    {% endif %}
    {% if article.authors %}
    "author": {
      "@type": "Person",
      "name": "{{ article.authors[0] }}"
    },
    {% endif %}
    "description": "{{ article.summary|striptags|truncate(SUMMARY_MAX_LENGTH) }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ SITENAME }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ SITEURL }}/{{ AMP_PUBLISHER_LOGO }}",
        "width": 530,
        "height": 60
      }
    }
  }
</script>
{% endmacro %}


{% macro json_ld_article_bread_crumb(article=None) %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ SITEURL }}/{{ ARCHIVES_URL }}",
          "name": "articles",
          "image": "{{ header_bg_url()|trim }}"
        }
      }{% if article %},
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{{ SITEURL }}/{{ article.url }}",
          "name": "{{ article.title|striptags|title }}",
          "image": "{{ header_bg_url(article)|trim }}"
        }
      }{% endif %}
    ]
  }
  </script>
{% endmacro %}

{% macro json_ld_tag_bread_crumb(tag=None) %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ SITEURL }}/{{ TAGS_URL }}",
          "name": "tags",
          "image": "{{ header_bg_url()|trim }}"
        }
      }{% if tag %},
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{{ SITEURL }}/{{ tag.url }}",
          "name": "{{ tag.name|upper }}"
        }
      }{% endif %}
    ]
  }
  </script>
{% endmacro %}

{% macro json_ld_carousels(entries) %}
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"ItemList",
    "itemListElement":[
      {% for entry in entries %}
      {% if not loop.first %},{% endif %}{
        "@type":"ListItem",
        "position":{{ loop.index }},
        "url":"{{ SITEURL }}/{{ entry.url }}"
      }
      {% endfor %}
    ]
  }
</script>
{% endmacro %}
