{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% set title %}TAGS | {{ SITENAME }}{% endset %}
{% set description %}TAGS | {{ SITENAME }}{% endset %}
{% set url %}{{ SITEURL }}/{{ TAGS_URL }}{% endset %}
{% set image %}{{ macros.header_bg_url() }}{% endset %}

{% block title %}{{ title }}{% endblock title %}

{% block meta %}
  {{ super() }}
  <meta name="description" content="{{ description }}">
  {{ macros.og_metas(title=title, description=description, type='website', url=url, image=image) }}
  <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block content %}
  {{ macros.json_ld_tag_bread_crumb() }}
  <main>
    <header class="l-header header header__bg-home">
      <div class="header__container">
        <h1 class="header__title"><a class="link-no-decoration" href="{{ url }}">{{ SITENAME }}<br>TAGS</a></h1>
      </div>
    </header>
    <div class="body">
      {%- for tag, articles in tags|sort %}
        <section class="section">
          <h1 class="section__title"><i class="material-icons section__title-icon">label_outline</i><a href="/{{ tag.url }}">{{ tag|upper }}</a> ({{ articles|count }})</h1>
          {% for article in articles %}
            {{ macros.article_item(article) }}
          {% endfor %}
        </section>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
