{% import "macros/contents.html" as contents_macros with context %}

{% macro site_name() %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ SITENAME }}",
      "url": "{{ SITEURL }}/"
    }
  </script>
{% endmacro %}

{% macro home_bread_crumb() %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ SITEURL }}/",
          "name": "HOME",
          "image": "{{ SITEURL }}{{ contents_macros.header_bg_url()|trim }}"
        }
      }
    ]
  }
  </script>
{% endmacro %}

{% macro article(article) %}
<script type="application/ld+json">
  {# some fields are ignored in non-amp #}
  {# https://developers.google.com/search/docs/data-types/articles #}
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ SITEURL }}/{{ article.url }}"
    },
    "headline": "{{ article.title|striptags|title|truncate(110) }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ SITEURL }}{{ contents_macros.header_bg_url(article)|trim }}",
      "height": 900,
      "width": 1600
    },
    "datePublished": "{{ article.date.isoformat() }}",
    {% if article.modified %}
    "dateModified": "{{ article.modified.isoformat() }}",
    {% else %}
    "dateModified": "{{ article.date.isoformat() }}",
    {% endif %}
    {% if article.authors %}
    "author": {
      "@type": "Person",
      "name": "{{ article.authors[0] }}"
    },
    {% endif %}
    "description": "{{ article.summary|striptags|truncate(SUMMARY_MAX_LENGTH) }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ SITENAME }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ SITEURL }}/{{ AMP_PUBLISHER_LOGO }}",
        "width": 530,
        "height": 60
      }
    }
  }
</script>
{% endmacro %}


{% macro article_bread_crumb(article=None) %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ SITEURL }}/{{ ARCHIVES_URL }}",
          "name": "articles",
          "image": "{{ SITEURL }}{{ contents_macros.header_bg_url()|trim }}"
        }
      }{% if article %},
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{{ SITEURL }}/{{ article.url }}",
          "name": "{{ article.title|striptags|title }}",
          "image": "{{ SITEURL }}{{ contents_macros.header_bg_url(article)|trim }}"
        }
      }{% endif %}
    ]
  }
  </script>
{% endmacro %}

{% macro tag_bread_crumb(tag=None) %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ SITEURL }}/{{ TAGS_URL }}",
          "name": "tags",
          "image": "{{ SITEURL }}{{ contents_macros.header_bg_url()|trim }}"
        }
      }{% if tag %},
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{{ SITEURL }}/{{ tag.url }}",
          "name": "{{ tag.name|upper }}"
        }
      }{% endif %}
    ]
  }
  </script>
{% endmacro %}

{% macro carousels(entries) %}
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"ItemList",
    "itemListElement":[
      {% for entry in entries %}
      {% if not loop.first %},{% endif %}{
        "@type":"ListItem",
        "position":{{ loop.index }},
        "url":"{{ SITEURL }}/{{ entry.url }}"
      }
      {% endfor %}
    ]
  }
</script>
{% endmacro %}