.l-header {
    width: 100%;
}
.header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $black_30;
    }
}
.header__bg-0 {
    background-image: $hero-image-0;
}
.header__bg-1 {
    background-image: $hero-image-1;
}
.header__bg-2 {
    background-image: $hero-image-2;
}
.header__bg-3 {
    background-image: $hero-image-3;
}
.header__bg-4 {
    background-image: $hero-image-4;
}
.header__bg-5 {
    background-image: $hero-image-5;
}
.header__bg-6 {
    background-image: $hero-image-6;
}
.header__bg-home {
    background-image: $hero-image-7;
}
.header__container {
    margin: 0 auto;
    min-width: $width-body-min;
    max-width: $width-body-max;
    padding: 55px 25px;
    position: relative;
    z-index: 1;
    color: $color-primary-text;
    a {
        color: $color-primary-text;
        &:hover {
            color: $color-primary-text;
        }
    }
}
.header__title {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.header__title-icon {
    font-size: inherit;
    vertical-align: text-top;
    margin-right: 10px;
}
.header__meta {
    display: flex;
    flex-direction: column;
}
.header__publish-date {
    font-size: 15px;
    display: inline-block;
}
.header__author {
    font-size: 15px;
    margin-bottom: 10px;
}
.header__tags {
    margin-top: 20px;
    font-size: 15px;
}
.header__tag {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

@media(min-width:$screen-sm) {
    .header__container {
        padding: 150px 25px;
    }
    .header__title {
        font-size: 60px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    .header__meta {
        flex-direction: row;
    }
    .header__publish-date {
        font-size: 25px;
        margin-left: 10px;
    }
    .header__author {
        font-size: 25px;
        margin-bottom: 0;
    }
}