.body {
    min-width: $width-body-min;
    max-width: $width-body-max;
    margin: 0 auto;
    padding: 25px;
}
.button {
    padding: 10px;
    font-size: 20px;
    border: 1px solid $color-divider;
}
.text-center {
    text-align: center;
}
.margin-v {
    margin: 25px 0;
}
.link-no-decoration {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.text-elegant {
    font-family: $font-serif;
    font-style: italic;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.section {
    padding: 25px 0;
}
.section__title-icon {
    margin-right: 10px;
}
.section__title {
    font-size: 32px;
    a {
        color: inherit;
    }
}