//colors
$black_25: rgba(0,0,0,0.25);
$black_30: rgba(0,0,0, 0.3);

//fonts
$font-base: Roboto;
$font-sans-serif: sans-serif;
$font-serif: serif;

//urls
$hero-image-0: url(../../material/static/images/0.jpg);
$hero-image-1: url(../../material/static/images/1.jpg);
$hero-image-2: url(../../material/static/images/2.jpg);
$hero-image-3: url(../../material/static/images/3.jpg);
$hero-image-4: url(../../material/static/images/4.jpg);
$hero-image-5: url(../../material/static/images/5.jpg);
$hero-image-6: url(../../material/static/images/6.jpg);
$hero-image-7: url(../../material/static/images/home.jpg);

$color-primary-dark: #E64A19;
$color-primary: #FF5722;
$color-primary-light: #FFCCBC;
$color-primary-text: #FFFFFF;
$color-accent: #795548;
$color-secondary-text: #757575;
$color-divider: #BDBDBD;

$height-navigation: 66px;
$width-body-min: 200px;
$width-body-max: 980px;

$zindex-navigation: 2;

$screen-sm: 768px;