{% extends "base.html" %}
{% import 'macros/meta.html' as meta_macros with context %}
{% import 'macros/contents.html' as contents_macros with context %}
{% import 'macros/json_ld.html' as json_id_macros with context %}

{% set title %}{{ article.title|striptags|title }} | {{ SITENAME }}{% endset %}
{% set description %}{{ article.summary|striptags|truncate(SUMMARY_MAX_LENGTH)|replace('"', '') }}{% endset %}
{% set url %}{{ SITEURL }}/{{ article.url }}{% endset %}
{% set image %}{{ contents_macros.header_bg_url(article) }}{% endset %}

{% block title %}{{ title }}{% endblock title %}

{% block meta %}
  {{ super() }}
  <meta name="description" content="{{ description }}">
  {{ meta_macros.og_metas(title=title, description=description, type='article', url=url, image=image, tags=article.tags, publishd=article.date.isoformat(), authors=article.authors ) }}
  <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block json_ld %}
  {{ super() }}
  {{ json_id_macros.article_bread_crumb(article=article) }}
  {{ json_id_macros.article(article) }}
{% endblock %}

{% block content %}
  <article>
    <header class="l-header header {{ contents_macros.header_bg_class(article) }}">
      <div class="header__container">
        <h1 class="header__title"><a class="link-no-decoration" href="{{ url }}" title="Permalink to {{ article.title|striptags|title }}">{{ article.title|striptags|title }}</a></h1>
        <div class="header__meta">
          <address class="header__author text-elegant">By {% for author in article.authors %}{{ author }} {% endfor %}</address>
          <time class="header__publish-date text-elegant" datetime="{{ article.date.isoformat() }}"> on {{ article.locale_date }}</time>
        </div>
        {% if article.tags %}
          <ul class="header__tags clearfix">
            {% for tag in article.tags %}
              <li class="header__tag tag"><i class="material-icons">label</i><a href="/{{ tag.url }}">{{ tag|upper }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </header>
    <div class="markdown-body body">
      {{ article.content }}
    </div>
  </article>
{% endblock %}
