.section {
  padding: var(--size-8) var(--size-3) var(--size-2);
}
.title {
  margin-bottom: var(--size-4);
}
.item + .item {
  margin-top: var(--size-4);
}
.itemImage {
  margin-bottom: var(--size-4);
}
.itemTitle {
  width: 100%;
  display: -webkit-box;
  font-size: var(--font-size-m);
  color: var(--color-black-2);
  text-align: center;
  line-height: 25px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
