{% import "macros/json_ld.html" as json_ld_macros with context %}

{% set css_file %}/{{ THEME_STATIC_DIR }}/styles/{{ CSS_FILE }}{% endset %}
{% set css_pygment %}/{{ THEME_STATIC_DIR }}/styles/pygment.css{% endset %}

<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    {% block meta %}
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'includes/favicons.html' %}
      {% include 'includes/meta_others.html' %}
    {% endblock %}

    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <link rel="stylesheet" href="{{ css_file|static }}" />
  {% endblock head %}
  {% block json_ld %}
    {{ json_ld_macros.site_name() }}
  {% endblock %}
  {% include 'includes/analytics.html' %}
</head>
<body>
  {% include 'includes/header.html' %}
  <div class="l-content">
    {% block content %}{% endblock %}
  </div>
  {% include 'includes/footer.html' %}
</body>
</html>
