body {
  font-family: Roboto, sans-serif;
  color: #FFFFFF; }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

a {
  color: #FF5722;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #FF5722; }

.body {
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 25px; }

.button {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #BDBDBD; }

.text-center {
  text-align: center; }

.margin-v {
  margin: 25px 0; }

.link-no-decoration {
  text-decoration: none; }
  .link-no-decoration:hover {
    text-decoration: none; }

.text-elegant {
  font-family: serif;
  font-style: italic; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.section {
  padding: 25px 0; }

.section__title-icon {
  margin-right: 10px; }

.section__title {
  font-size: 32px; }
  .section__title a {
    color: inherit; }

.article-item {
  padding: 25px 0; }
  .article-item + .article-item {
    border-top: 1px solid #BDBDBD; }

.article-item__title {
  font-size: 21px;
  line-height: 1.3;
  margin-bottom: 10px; }

.article-item__summary {
  color: #757575;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px; }

.article-item__publish-date {
  color: #757575;
  font-size: 14px; }

@media (min-width: 768px) {
  .article-item {
    padding: 40px 0; }
  .article-item__title {
    font-size: 30px;
    margin-bottom: 20px; }
  .article-item__summary {
    color: #757575;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px; }
  .article-item__publish-date {
    font-size: 18px; } }

.l-content {
  padding-top: 66px; }

.l-footer {
  width: 100%;
  text-align: center; }

.footer {
  padding: 25px;
  color: #757575; }

.footer__item + .footer__item {
  margin-top: 10px; }

.l-header {
  width: 100%; }

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .header:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }

.header__bg-0 {
  background-image: url(/material-theme/images/0.jpg); }

.header__bg-1 {
  background-image: url(/material-theme/images/1.jpg); }

.header__bg-2 {
  background-image: url(/material-theme/images/2.jpg); }

.header__bg-3 {
  background-image: url(/material-theme/images/3.jpg); }

.header__bg-4 {
  background-image: url(/material-theme/images/4.jpg); }

.header__bg-5 {
  background-image: url(/material-theme/images/5.jpg); }

.header__bg-6 {
  background-image: url(/material-theme/images/6.jpg); }

.header__bg-home {
  background-image: url(/material-theme/images/home.jpg); }

.header__container {
  margin: 0 auto;
  min-width: 200px;
  max-width: 980px;
  padding: 55px 25px;
  position: relative;
  z-index: 1;
  color: #FFFFFF; }
  .header__container a {
    color: #FFFFFF; }
    .header__container a:hover {
      color: #FFFFFF; }

.header__title {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 20px; }

.header__title-icon {
  font-size: inherit;
  vertical-align: text-top;
  margin-right: 10px; }

.header__meta {
  display: flex;
  flex-direction: column; }

.header__publish-date {
  font-size: 15px;
  display: inline-block; }

.header__author {
  font-size: 15px;
  margin-bottom: 10px; }

.header__tags {
  margin-top: 20px;
  font-size: 15px; }

.header__tag {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px; }

@media (min-width: 768px) {
  .header__container {
    padding: 150px 25px; }
  .header__title {
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 20px; }
  .header__meta {
    flex-direction: row; }
  .header__publish-date {
    font-size: 25px;
    margin-left: 10px; }
  .header__author {
    font-size: 25px;
    margin-bottom: 0; } }

.l-nav {
  display: block;
  width: 100%;
  height: 66px;
  background-color: #E64A19;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0; }
  .l-nav:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent); }

.nav {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 25px; }

.nav__item {
  height: 100%; }
  .nav__item a {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    color: #FFFFFF;
    text-decoration: none; }
    .nav__item a:hover:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #FFFFFF; }
  .nav__item + .nav__item {
    margin-left: 25px; }

.tag {
  display: inline-flex; }
  .tag a {
    margin-left: 5px;
    align-self: center;
    text-decoration: none;
    border-bottom: 1px dotted; }
