/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
  padding: 2.5rem;
  width: 100%;
  background: $c__light-grey;

  p {
    @include fs--meta;
  }

  a:not(:first-of-type) {
    margin-left: 2rem;
  }
}

.c-footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
