---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
    <div class="u-container">
      <h1 class="c-header__title">{{ page.title }}</h1>
    </div>
    <div class="c-header__button">
      <button ng-dialog-class="ngdialog-theme-default"
              ng-dialog="shareTpl"
              ng-dialog-show-close="false"
              type="button"
              class="c-share-button"><i class="material-icons">share</i>
      </button>
    </div>
    <script type="text/ng-template" id="shareTpl">
      {% include share-modal.html %}
    </script>
  </header>

  <div class="c-article__main">
    {{ content }}
  </div>
</article>
