*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--color-primary);
}
