.ogpRatioBox {
  height: 0;
  padding-top: calc(670/1280*100%);
  position: relative;
}
.ogpRatioBox > img,
.ogpRatioBox > amp-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.button {
  display: inline-block;
  background: none;
  outline: none;
  padding: 14px 0 12px;
  
  width: 160px;
  border: 1px solid var(--color-black-1);
  font-size: var(--font-size-s);
  color: var(--color-black-1);
  text-align: center;
}
.button:hover {
  text-decoration: none;
}

.list {
  display: block;
}
.listItem{
  display: inline-block;
  width: 100%;
  padding: var(--size-2) 0;
  font-size: var(--font-size-m);
  color: var(--color-black-2);
}

.sectionTitle {
  font-weight: bold;
  position: relative;
  padding-bottom: var(--size-4);
  font-size: var(--font-size-l);
  color: var(--color-black-3);
  text-align: center; 
}
.sectionTitle:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: var(--color-yellow-1);
}
.sectionTitle2 {
  position: relative;
  font-weight: bold;
  padding-bottom: var(--size-4);
  font-size: var(--font-size-xl);
  color: var(--color-black-3);
}
.sectionTitle2:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: var(--color-yellow-1);
}
