:root {
  --height-navigation: 66px;
  --max-width: 1024px;
  --screen-sm: 768px;
  --base-size: 8px;
  --size-1: var(--base-size);
  --size-2: calc(var(--base-size) * 2);
  --size-3: calc(var(--base-size) * 3);
  --size-4: calc(var(--base-size) * 4);
  --size-5: calc(var(--base-size) * 5);
  --size-6: calc(var(--base-size) * 6);
  --size-7: calc(var(--base-size) * 7);
  --size-8: calc(var(--base-size) * 8);
  --color-black-1: #979797;
  --color-black-2: #7B7B7B;
  --color-black-3: #333;
  --color-black-4: #F6F6F6;
  --color-yellow-1: #F5D873;
  --font-size-s: 13px;
  --font-size-m: 16px;
  --font-size-l: 19px;
  --font-size-xl: 21px;
}
